@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Robosto', sans-serif;

}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;

}

nav{
    font-weight: 700;
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align:right;
    
}


.nav-links ul li{
    list-style: none;
    display: block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a {
        color: #701313;
        text-decoration: none;
        font-size: 16px;
}

.nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #701313;
        display: block;
        margin: auto;
        transition: 0.7s;
}

.nav-links ul li:hover::after{
    width: 100%;
  
}

.text-box {
    width: 90%;
    color: #771313;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 60px;
    margin-bottom: 5%;

}


.personal-col p {
    max-width: 50%;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    flex-basis: 31%;
    background: #C7D5DF;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 12px;
    box-sizing: border-box;
}

.personal-col:hover {
    box-shadow: 0 0 40px 0px rgba(175, 37, 13);
    transition: 0.5s;
}





html, body {
    height: 100%;
}

    body > #wrapper {
        height: auto;
        min-height: 100%;
    }

#footer {
    position: relative;
    height: 140px;
    z-index: 10;
    clear: both;
    margin-top: -140px;
    background: #700;
    color: #fff;
}

.image1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}



.container {
    max-width: 50%;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    flex-basis: 31%;
    background: #C7D5DF;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 12px;
    box-sizing: border-box;
}



    .container:hover {
        box-shadow: 0 0 40px 0px rgba(175, 37, 13);
        transition: 0.5s;
    }

.ideal {
    max-width: 50%;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    flex-basis: 31%;
    background: #C7D5DF;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 12px;
    box-sizing: border-box;
}


.ideal:hover {
    box-shadow: 0 0 40px 0px rgba(175, 37, 13);
    transition: 0.5s;
}

h1 {
    color: #771313;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

h2 {
    color: #771313;
}

h3 {
    color: #805050;
}


.image {
    margin-top: 2rem;
    margin-bottom:2rem;
}

.personalprofile {
    max-width: 50%;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    flex-basis: 31%;
    background: #C7D5DF;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 12px;
    box-sizing: border-box;
}


.personalprofile:hover {
    box-shadow: 0 0 40px 0px rgba(175, 37, 13);
    transition: 0.5s;
}

.p {
    font-family: Algerian;


}
  